<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Orders</title>
</head>
<body class="body hero-image">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for index in range(list_length) %}
        <div class="col">
          <div class="card order">
            <div class="card-body">
              <h3 class="card-title card_text">Order #{{ general_data_list[index]['ID'] }}</h3>
              <p class="card-text card_text"> <strong>Time: </strong>  <span class="info"> {{ general_data_list[index]['time'] }}</span>
                <br>
                <strong>Table: </strong>  <span class="info">{{ general_data_list[index]['table_number'] }}</span></p>
              <ul class="list-group list-group-flush">
                {% for item, value in order_list[index].items() %}
                  <li class="list-group-item">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            {{ item, value }}
                          </label>
                        </div>
                  </li>
                {%endfor%}
              </ul>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Notify
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                     Are you sure you want to send pick-up notification to cashier?
                    </div>
                    <div class="modal-footer align-center">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                      <button type="button" class="btn btn-success">Yes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        {% endfor %}


      </div>




      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>